html {
	-webkit-appearance: none;
}


.top-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.top-nav li {
	float: right;
	display: block;
	padding: 8px;
}

.logo {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -150px;
}

.search-box {
	position: absolute;
}

/*Footer*/

.bottom-nav {
	width: 100vw;
	height: 5vh;
	position: absolute;
    bottom: 1px;
    background-color: grey;
  
}

.bottom-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
}
.right-bottom-nav {
	float: right;
	position: relative;
	
}

.right-bottom-nav li {
	padding: 8px;
	display: inline;
	padding-right: 25px;
}

/*Left Nav*/

.left-bottom-nav ul{
	float: left;
	position: relative;
	display: block;


}

.left-bottom-nav li {
	padding: 10px;
	display: inline;
  
}




}
a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

