html {
	-webkit-appearance: none;
}


.top-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.top-nav li {
	float: right;
	display: block;
	padding: 8px;
}

.logo {
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -50px;
  margin-left: -150px;
}

.search-box {
	position: fixed;
	text-align: center;
	left: 33%;
	top: 50%;

}


body {
	margin: 0;
	padding: 0;
	
}



span.left {
	float: left;
	display: block;
	padding-top: 1.5vh;
	width: 25%;
	padding-left: 10px;
}

span.right {
	float: right;
	display: block;
	padding-top: 1.5vh;
	width: 70%;
	text-align: right;
}

#nav {
	margin: 0;
	padding: 0;
}

#nav li {
	list-style-type: none;
	margin: 0px;
	padding: 0 10px;
	display: inline;


}

footer {
	width: 100vw;
	height: 6vh;
	position: absolute;
    bottom: 1px;
    background-color: #D3D3D3;
}

a:link {
    text-decoration: none;
}

 li a:hover {
    text-decoration: underline;
}

#navcontainer li a {
	color: grey;
}